{% extends 'layouts/base.html' %}
{% block title %}All Beats - MyBeats{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelance Services</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block content %}
<body class="bg-[#0b0b0b] text-gray-200 min-h-screen">


  <main class="max-w-7xl mx-auto px-6 mt-10">
    <div class="flex justify-between items-center mb-8">
      
    </div>
  </main>
  {% include 'components/footer.html' %}
</body>
{% endblock %}
</html>
