{% extends 'layouts/base.html' %}
{% block title %}All Beats - MyBeats{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Services</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block content %}

<body class="">
    <div class="p-6 flex items-center justify-center ">
        <div
            class="w-[500px] p-8 rounded-xl shadow-2xl bg-gray-800 bg-opacity-30 border border-purple-500/50 backdrop-blur-sm text-white ">
            <h2 class="text-3xl font-bold text-center mb-8 text-white">Edit a Contract</h2>
            <form method="POST" action="{% url 'editcontract' contract_id %}">
                {% csrf_token %}
                <div>
                    <label for="{{ form.title.id_for_label }}">Job Title :</label>
                    {{ form.title }}
                </div>
                <div>
                    <label for="{{ form.details.id_for_label }}">Details :</label>
                    {{ form.details }}
                </div>
                <div>
                    <label for="{{ form.wages.id_for_label }}">Wages :</label>
                    {{ form.wages }}
                </div>
                <div>
                    <label for="{{ form.deadline.id_for_label }}">Deadline :</label>
                    {{ form.deadline }}
                    
                </div>
                <span class="text-red-400">{{ form.non_field_errors }}</span>
                <div class="flex flex-cols gap-2 items-center mt-6">
                    <button type="submit"
                        class="w-full py-3 px-4 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 transition duration-300 shadow-lg">Save
                        Changed</button>
                    <a href="{% url 'contract' %}"
                        class="w-full text-center py-3 px-4 bg-gradient-primary hover:opacity-100 text-white font-semibold rounded-lg hover:bg-purple-700 transition duration-300 shadow-lg">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}

</html>