<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mrbeats - Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center bg-gray-900">

    <div class="w-full max-w-md p-6">
        <div class="flex justify-center">
            <div
                class="w-full max-w-md p-8 rounded-xl shadow-2xl bg-gray-800 bg-opacity-30 border border-purple-500/50 backdrop-blur-sm">
                <h2 class="text-3xl font-bold text-center mb-8 text-white">Login</h2>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="block text-sm font-medium text-purple-300 mb-2">Username</label>
                        <input type="text"
                            class="w-full p-3 bg-gray-900/50 border border-purple-700/80 rounded-lg text-white focus:ring-purple-500 focus:border-purple-500 transition duration-150"
                            id="username" name="username" required>
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block text-sm font-medium text-purple-300 mb-2">Password</label>
                        <input type="password"
                            class="w-full p-3 bg-gray-900/50 border border-purple-700/80 rounded-lg text-white focus:ring-purple-500 focus:border-purple-500 transition duration-150"
                            id="password" name="password" required>
                    </div>
                    <button type="submit"
                        class="w-full py-3 px-4 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 transition duration-300 shadow-lg">
                        Login
                    </button>
                    <div class="flex flex-cols gap-2 items-center mt-6">
                        <p class="text-white">Not a Member?</p>
                        <a href="{% url 'register' %}"
                            class="font-bold text-center text-blue-500 hover:text-white underline">
                            Sign up now
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>